@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%234a0ea9' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: #000;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
  font-size: 1.2rem;
  height: 2rem;
  color: blanchedalmond;
  border: none;
  border-radius: 8px;
  background-color: rgba(15, 14, 14, 0.9);
  outline: none;
  padding: 0.5rem 1.8rem;
  box-shadow: 0 0.3rem rgba(0, 0, 0, .5);

}

button:hover {
  filter: brightness(110%);
}

button:active {
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem rgba(248, 248, 248, 0.5);
}

.twitter-button:hover {
  color: #38a1f3;
}

.fa-twitter {
  flex: 1.5rem;
}

.quote {
  width: auto;
  max-width: 900px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .4);
  box-shadow: 0 5px 15px 5px rgba(0, 0, 0, .2);
}

.quote__container {
  font-size: 2.50rem;
}

.quote__container--long {
 font-size: 2rem;
}

.fa-quote-left {
  font-size: 4rem;
}

.quote__author {
  margin-top: 15px;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
}

.quote__button {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  
  .quote {
  margin: 20px;
  }

  .quote__container {
    font-size: 2rem;
  }


}